<form>
    <div class="form-group">
        <label	for="nombre">Nombre</label>
        <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
    </div>
    <div class="form-group">
        <label	for="Imagen	Url">Imagen	Url</label>
        <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
    </div>
        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
</form>
:console.log(‘primero’);console.log(‘segundo’); 