extends ../layout
// Vista para crear una bicicleta. agregamos a continuación el Controles en bicicleta.js
block content
    a(href='/bicicletas') Volver
    br
    br
    br
    h1 Nueva Bicicleta
    br
    br
    // es un formulario común con método POST 
    form(action='/bicicletas/create' method='POST')
        label(for='id') ID:
        input#id(type='text' name='id')
        br
        label(for='color') Color:
        input#color(type='text' name='color')
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo')
        br
        label(for='lat') Latitud:
        input#lat(type='text' name='lat')
        br
        label(for='long') Longitud:
        input#long(type='text' name='long')
        br
        br
        input.btn(type='submit' value='OK')
        br
